.sign-in-logo
{
    width:300px;
    margin:auto;
    margin-top:160px;
}

.sign-in
{
    width:300px;
    margin:auto;
    height:240px;
    background-color:#F0F0F0;
    padding:12px;
}

.sign-in:hover
{
    background-color:#F0F0E0;    
}

a img 
{
	border:none;
}

a
{
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6, a, span, table, tr, td
{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ajax-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #A7D0D9;
    opacity: .5;
}

.ajax-loader
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
    opacity: 0.9;
}
