<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. 
If a copy of the MPL was not distributed  with this file, You can obtain one at 
http://mozilla.org/MPL/2.0/.
-->
<packages>
  <package id="AjaxControlToolkit" version="7.0607" targetFramework="net40" />
  <package id="iTextSharp" version="5.4.3" targetFramework="net40" />
  <package id="Microsoft.Web.Optimization" version="0.1" targetFramework="net40" />
</packages>